@tailwind base;
@tailwind components;
@tailwind utilities;

.li-hover:hover {
  background-color: #d8d8d8;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: #000925;
}

.selected {
  background-color: #990011; /* Set your desired background color */
  color: white; /* Set your desired text color */
}
