@tailwind base;
@tailwind components;
@tailwind utilities;

.li-hover:hover {
  background-color: #d8d8d8;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: #000925;
}

.selected {
  background-color: #990011; /* Set your desired background color */
  color: white; /* Set your desired text color */
}

.video-container {
  width: 100%; /* Use a percentage to ensure responsiveness */
  max-width: 1200px; /* Increase the maximum width for larger videos */
  height: 0;
  padding-bottom: 67.5%; /* Adjust the aspect ratio for larger videos (16:9 ratio) */
  position: relative;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

.animate-fade-in-delay {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s; /* Adjust the delay as needed */
}

/* Your existing CSS */
.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

.animate-fade-in-delay {
  animation: fadeIn 0.5s ease-out forwards;
  animation-delay: 0s; /* Set the delay to 0 seconds to start immediately */
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}

/* New CSS for the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
